<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Overdrive Automotive school</title>
</head>
<body>
    <header>
        <nav class="container">
            <ul class="u-pull-right nav__list">
                <li class="nav__item"><a href="/">Home</a></li>
                {{#if logged_in}}
                <li class="nav__item"><a href="/api/category/categories">Lessons</a></li>
                <li id ="logout" class="nav__item"><a href="#">Logout</a></li>
                {{else}}
                <li class="nav__item"><a href="/api/account/login">Login</a></li>
                <li class="nav__item"><a href="/api/account/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Overdrive Automotive School</h1>
    </div>

    <div class="separator"></div>

    {{{ body }}}

    <footer>
        <div class="container">
            <div class="row">
                <p class="footer__caption">Chris Rowe 2022©</p>
            </div>
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/assets/scripts/logout.js"></script>
    {{/if}}
</body>
</html>