<div class="container">
    <div class="row">
        <h3>All Categories</h3>
    </div>
    
    {{#each catData as |category|}}
    <div class="row">
        <h4 class="category" data-cat="{{category.id}}">{{category.name}}</h4>
    </div>
    {{/each}}
</div>

<script src="/assets/scripts/allcats.js"></script>