<div class="container">
    <div class="row">
        <div class="u-full-width">
            <h2>Welcome!</h2>
            <img class="hero" src="/assets/img/000_hero.jpg" alt="cutaway Drawing of Miata">
            <p></p>
        </div>
    </div>
</div>