<div class="container">
    <div class="row">
        <div class="u-full-width">
            <h2>Welcome!</h2>
            <img class="hero" src="/assets/img/000_hero.jpg" alt="cutaway Drawing of Miata">

            <h3>Why this site is here?</h3>

            <p>Welcome to Overdrive Automotive School. Since 2004, I have been on a journey to learn as much as I possibly can about cars. What began as a hobby that interested me because I admired my older cousin Karl, quickly turned into a hobby that I centered my identity around. I was fortunate enough to join a collective group of Mazda Rx-7 owners that were willing to impart tons of knowledge on me on proper tool usage. How to check my work, and do quality repairs on my car. This mentor/mentee relationship between myself and the group is something I often reflect on as a life changing act of kindness. </p>

            <div class="small-divider"></div>

            <h3>Who is this for?</h3>

            <p>This website is an attempt to give that back to the community. I have come to realize that plenty of people that are interested in learning about cars are intimidated by the journey, and don't have good support groups to learn the knowledge. Whether its a lack of a support group, a belief that they are too old or young to learn, or gender stereotypes and gatekeeping in their local communities, this course wants to provide an equal opportunity for all to learn. If you are in the Dekalb County/Tucker area of metro Atlanta (Georgia), I will be teaching classes in person that give an opportunity to work on real cars with a wide access of tools. Students attending the course will be given this course material as a text book. If however, you are unable to attend, this course is available for free on this website. Donations are welcome and appreciated but not required.
            </p>

            <div class="small-divider"></div>

            <h3>So how do I access the coursework?</h3>

            <p>Simply create an account and log in. The lesson list will be made available to you by way of a link titled "lessons" in the nav bar at the top right of htis page when you are logged in. To access any lesson, you must have passed a small quiz from the lesson before it. As you continue to progress, you will have more and more of the coursework available to you for your review.</p>

            <a href="api/account/register"></a><button class="button-primary">Register Now</button>

        </div>
    </div>
</div>