<form action="">
    <label for="email">Email address:</label>
    <input id="email" type="text" placeholder="james@example.com"></input>
    <label for="password">Password:</label>
    <input id="password" type="password"></input>
    <button type="submit">SUBMIT</button>
</form>