<div class="container">
    <div class="row">
        <h2>{{thisCat.name}}</h2>
    </div>
    
    <div class="row">
        {{#each thisCat.lessons as |lesson|}}
        <h4 class="category">{{lesson.title}}</h4>
        {{/each}}
    </div>
</div>

<script src="/assets/scripts/onecat.js"></script>