<div class="container">
    <div class="row">
        <h2>Create an Account</h2>
    </div>
    
    <form>
      <div class="row">
        <div class="six columns">
          <label for="username">Username</label>
          <input class="u-full-width" type="text" id="username">
        </div>
        <div class="six columns">
          <label for="email">Email Address</label>
          <input class="u-full-width" type="text" placeholder="you@example.com" id="email">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="password">Password</label>
          <input class="u-full-width" type="password" id="password">
        </div>
        <div class="six columns">
          <label for="confirm__pw">Confirm Password</label>
          <input class="u-full-width" type="password" id="confirm__pw">
        </div>
      </div>

        <p class="pass_match_error invisible">Passwords do not match</p>
        <p class="pass_len_error invisible">Passwords must be 8 or more characters</p>
        <p class="pass_good invisible">Passwords Acceptible</p>

      <input id="register" class="button-primary" type="submit" value="Submit">
    </form>
</div>

<script src="/assets/scripts/register.js"></script>