:root {
    --clr-accent-primary : #008977;
}

p,
li,
figcaption {
    font-size: 1.9rem;
}

header,
footer {
    background-color:#008977;
}

h1 {
    margin-top: 2.75rem;
}

header {
    margin-bottom: 1.5rem;
}

footer {
    margin-top: 1.5rem;
}

figcaption {
    margin-bottom:1.875em;
    font-weight: bold;
    color: var(--clr-accent-primary);
}

.hero {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.separator {
    background-color:#008977;
    min-height: 2.5rem;
    margin: .75rem 0 2.75rem 0;
}

.small-divider {
    background-color:#008977;
    min-height: .375rem;
    margin: .75rem 0 2.75rem 0;
}

.highlight {
    color: var(--clr-accent-primary);
}

.nav__list {
    margin-top: 1.25em;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 1.5em;
    list-style: none;
}

.nav__item,
.nav__item a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__item:hover,
.nav__item a:hover,
.nav__item:focus-visible,
.nav__item a:focus-visible {
    color:#00FFFF;
    text-decoration: underline;
}

.footer__caption {
    color:#fff;
    padding: 1.5em 0;
}

.category {
    background-color: var(--clr-accent-primary);
    color:#fff;
    padding: 0.875em;
    margin: .25em auto;
    border-radius: 300px;
    cursor: pointer;
}

.category:hover {
    background-color: #00AB99;
}

.unavailable,
.unavailable:hover {
    background-color: #AAAAAA;
}

.pass_match_error,
.pass_len_error {
    color: #FF0000;
}

.pass_good {
    color:#008977;
}

.invisible {
    display: none;
}